.menu-container {
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Mantém os itens empilhados */
    position: absolute;
    width: 350px; /* Garante alinhamento com o input */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px; /* Mantém o espaço interno mesmo sem itens */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-top: 50px;
    z-index: 1000;
    gap: 10px;
}