.body-um * {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1000;
    box-sizing: border-box;
}

.menu_nome {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 10;
    background-color: black;
    border: 1px solid yellow;
    border-radius: 10px;
    text-shadow: 
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black;
    font-size: 2.5vw;
    text-align: center;
}

.input_pesquisa {
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    font-size: 1.2rem;
    background-color: white;
    margin-top: 72px;

    /* Centralização horizontal */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-container {
    display: none;
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
    top: 14vh;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    width: 100%;
}

.btnzz {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    font-size: 1.1rem;
    text-align: center;
}

.btnzz:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
}

.assistentezero {
    position: absolute;
    top: 5%;
    left: 2%;
    white-space: nowrap;
    transform: scale(0.9);
    cursor: pointer;
    z-index: 800;
}


/* responsivo.css */

/* Tela na vertical */
@media (max-width: 794px) {

    .menu-container{
        top: 17vh;
    }

    .menu_nome {
        position: relative;
        font-size: 5vw;
        top: 2vh;
    }

    .assistentezero {
        position: relative;
        transform: scale(0.6);
        top: 0%;
        left: 10%;
        
    }

    .input_pesquisa {
        padding: 2px;
        margin-top: -20px;
    }

    .menu-container {
        top: 1vh;
        position: relative;
    }
}

/* Tela na horizontal */
@media (max-height: 400px) {

    .menu-container{
        top: 17vh;
    }

    .menu_nome {
        position: relative;
        font-size: 5vw;
        top: 2vh;
    }

    .assistentezero {
        position: relative;
        transform: scale(0.6);
        top: 0%;
        left: 20%;
        
    }

    .input_pesquisa {
        padding: 2px;
        margin-top: -20px;
    }

    .menu-container {
        top: 1vh;
        position: relative;
    }
}